# Objectives
### Hello Kaggler!, <span style="color:PURPLE">Objective of this short kernal is to</span> <span style="color:red">demonstrate simple ways you could use to convert Categorical Features</span>

Curerntly this kernel demonstrates following encoding techniques,
* One-Hot-Encoding (OHE) (dummy encoding)
* Label Encoding

If you have ideas on improving this kernel please comment!

To make this very easy to grasp I have used infamouse Titanic data set to train the ML model.




### Let's Start!

# Why do we need to convert categorical features?

* Because Many machine learning tools will only accept numbers as input.

### Preparing Example Dataset for demonstration

In [1]:
import numpy as np 
import pandas as pd 
import os
data = pd.read_csv("../input/train.csv")
data.drop(columns = ['Name','Ticket','Fare','Cabin','SibSp','Parch','Age','PassengerId','Survived'], inplace=True)
data['Embarked'].fillna('S',inplace=True)
data.head(10)

   Pclass     Sex Embarked
0       3    male        S
1       1  female        C
2       3  female        S
3       1  female        S
4       3    male        S
5       3    male        Q
6       1    male        S
7       3    male        S
8       3  female        S
9       2  female        C

In [2]:
print('Unique Values of Columns')
print('\tPclass \t\t: ',data.Pclass.unique())
print('\tSex \t\t: ',data.Sex.unique())
print('\tEmbarked \t: ',data.Embarked.unique())

Unique Values of Columns
	Pclass 		:  [3 1 2]
	Sex 		:  ['male' 'female']
	Embarked 	:  ['S' 'C' 'Q']

# Method 1: One-Hot-Encoding (OHE) (dummy encoding)

Learn on One-Hot-Encoding :https://www.geeksforgeeks.org/ml-one-hot-encoding-of-datasets-in-python/

#### Code & Output

In [3]:
columnsToEncode = ['Pclass','Sex','Embarked']
One_Hot_encoded = pd.get_dummies(data,columns= columnsToEncode)
One_Hot_encoded.head()

   Pclass_1  Pclass_2  Pclass_3     ...      Embarked_C  Embarked_Q  Embarked_S
0         0         0         1     ...               0           0           1
1         1         0         0     ...               1           0           0
2         0         0         1     ...               0           0           1
3         1         0         0     ...               0           0           1
4         0         0         1     ...               0           0           1

[5 rows x 8 columns]

# Method 2: Label Encoding

Learn on Label Encoding : https://www.geeksforgeeks.org/ml-label-encoding-of-datasets-in-python/

#### Code & Output

Column Pclass is already in the label encoded format. So lets lable encode columns 'Sex' and 'Embarked'

In [4]:
data.head(10)

   Pclass     Sex Embarked
0       3    male        S
1       1  female        C
2       3  female        S
3       1  female        S
4       3    male        S
5       3    male        Q
6       1    male        S
7       3    male        S
8       3  female        S
9       2  female        C

In [5]:
# import labelencoder
from sklearn.preprocessing import LabelEncoder
# instantiate labelencoder object
le = LabelEncoder()

data[['Sex']] = le.fit_transform(data[['Sex']])
data[['Embarked']] = le.fit_transform(data[['Embarked']])

/opt/conda/lib/python3.6/site-packages/sklearn/preprocessing/label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [6]:
data.head(10)

   Pclass  Sex  Embarked
0       3    1         2
1       1    0         0
2       3    0         2
3       1    0         2
4       3    1         2
5       3    1         1
6       1    1         2
7       3    1         2
8       3    0         2
9       2    0         0

# Credits

* https://machinelearningmastery.com/why-one-hot-encode-data-in-machine-learning/
* https://towardsdatascience.com/benchmarking-categorical-encoders-9c322bd77ee8
* https://chrisalbon.com/machine_learning/preprocessing_structured_data/convert_pandas_categorical_column_into_integers_for_scikit-learn/
* https://www.geeksforgeeks.org/ml-label-encoding-of-datasets-in-python/
* https://www.geeksforgeeks.org/ml-one-hot-encoding-of-datasets-in-python/

# Learn more on Categorical Feature Encoding
* https://machinelearningmastery.com/why-one-hot-encode-data-in-machine-learning/
* https://towardsdatascience.com/benchmarking-categorical-encoders-9c322bd77ee8
* https://www.geeksforgeeks.org/ml-label-encoding-of-datasets-in-python/
* https://www.geeksforgeeks.org/ml-one-hot-encoding-of-datasets-in-python/

## Thank you!
### If you like the notebook and think that it helped you..PLEASE UPVOTE. It will keep me motivated :) :)